<div class="container">
    <div class="row mb-3" *ngFor="let i of Album ">
        <div class="col-lg-4">
            <img [src]="i.album.images[1].url">
        </div>
        <div class="col-lg-8">
            <h3>Song: {{i.album.name}}</h3>
            <p>Release date: {{i.album.release_date | date :'dd/MM/yyyy'}}</p>
            <p>Type: {{i.album.type}}</p>
            <audio controls *ngIf="i.preview_url">
                    <source [src]="i.preview_url">
            </audio>
        </div>
    </div>
</div>